################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation
/.vs/PublisherAPI/CopilotIndices/17.14.1681.23550
/.vs/PublisherAPI
/Publisher.API/obj
/Publisher.Data/obj
/Publisher.Business/obj/Debug/net8.0
/Publisher.Business/obj
/Publisher.API/bin/Debug/net8.0
/Publisher.Business/bin/Debug/net8.0
/Publisher.Data/bin/Debug/net8.0
/Publisher.Business.Test/obj
/Publisher.Business.Test/bin/Debug/net8.0
